html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: black !important;
}

footer {
  bottom: 0;
  margin-top: calc(5% + 60px);
  /* position: sticky; */
  width: 100%;
  padding: 10px;
  margin: 0;
}

.home,
.movies,
.tvshows {
  background-image: url("./Photos/foto_tlo_film_blur_04.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  height: 100vh;
}

.navBar {
  margin-bottom: 82px;
}

@media only screen and (max-width: 960px) {
  .navBar {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    margin-bottom: 55px;
  }
}

.wrapper {
  position: relative;
  padding-top: 56.25%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
