html,
body {
  padding: 0px;
  margin: 0px;
  background-color: black !important;
}

footer {
  bottom: 0;
  margin-top: calc(5% + 60px);
  position: fixed;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.home,
.movies,
.tvshows {
  background-image: url("./Photos/foto_tlo_film_blur_04.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

/* 
.navBar {
  margin-bottom: 82px;
}

@media only screen and (max-width: 960px) {
  .navBar {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    margin-bottom: 55px;
  }
} */
